* {
  font-family: "Cuprum", "Quattrocento", "Adobe Caslon Pro", "Hoefler Text", Garamond, serif; }

h1, h2, h3, h4, h5 {
  font-family: "Indie Flower", "Expletus Sans", "Myriad Pro", Corbel, "Helvetica Neue", Helvetica, "Lucida Grande", Verdana, sans-serif; }

h1 a {
  font-size: 32pt;
  color: #b6372c;
  margin-left: 60px;
  margin-top: 20px;
  font-family: "Permanent Marker";
  -moz-text-shadow: 0px 3px 5px #222222;
  -webkit-text-shadow: 0px 3px 5px #222222;
  text-shadow: 0px 3px 5px #222222; }

h2 {
  font-size: 20pt; }

a, p, li {
  font-size: 14pt; }

.clear {
  clear: both; }

body {
  background: #dddddd; }

form, select, text-field, input {
  font-size: 11pt;
  padding: 3px; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #b6372c; }

#main_grid {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #333333;
  color: #eeeeee;
  -moz-box-shadow: inset 0px 0px 15px 2px #222222, 5px 0px 20px 3px #111111, -5px 0px 20px 3px #111111;
  -webkit-box-shadow: inset 0px 0px 15px 2px #222222, 5px 0px 20px 3px #111111, -5px 0px 20px 3px #111111;
  box-shadow: inset 0px 0px 15px 2px #222222, 5px 0px 20px 3px #111111, -5px 0px 20px 3px #111111;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

h2 {
  margin-top: 15px; }

div.sub_form {
  background: #444444;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

div.zap {
  padding-top: 10px; }

div.citation {
  padding: 15px;
  font-family: cuprum;
  font-size: 12pt;
  background: #555555;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px; }

div.citation li.citation {
  padding-top: 15px;
  font-size: 12pt; }

p.note {
  text-align: right;
  margin-bottom: -15px; }

#footer {
  margin-top: 20px;
  text-align: right;
  padding-bottom: 15px; }

.footer_content {
  padding-right: 15px; }

table tr {
  border: 1px solid white;
  padding: 5px; }

table td, table th {
  padding: 8px; }

tr.alt {
  background: #555555; }

td a, td, th {
  font-size: 11pt; }

table th {
  background: white;
  color: #333333; }

em.subtitle {
  font-size: 12pt;
  color: #555555; }

#twitter {
  position: absolute;
  right: 20px;
  width: 150px;
  top: 220px;
  background: #888888;
  display: none;
  padding: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 5px 0px 5px 0px #222222, -5px 0px 5px 0px #222222;
  -webkit-box-shadow: 5px 0px 5px 0px #222222, -5px 0px 5px 0px #222222;
  box-shadow: 5px 0px 5px 0px #222222, -5px 0px 5px 0px #222222;
  text-align: justify; }

#twitter p, #twitter a {
  font-size: 9pt; }

#twitter h2 {
  font-size: 12pt;
  padding: 0;
  margin: 0;
  margin-bottom: 5px; }

#twitter a.tweet {
  font-weight: normal;
  color: #cccccc; }

#short {
  background: #dec657;
  color: #de3c09;
  -moz-box-shadow: 5px 0px 5px 0px #222222, -5px 0px 5px 0px #222222;
  -webkit-box-shadow: 5px 0px 5px 0px #222222, -5px 0px 5px 0px #222222;
  box-shadow: 5px 0px 5px 0px #222222, -5px 0px 5px 0px #222222;
  padding: 15px;
  padding-bottom: 5px;
  margin-top: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#short h2 {
  margin-top: -5px;
  margin-left: 5px;
  margin-bottom: 0px;
  background: #de3c09;
  color: #dec657;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  float: left;
  margin-right: 25px; }

div#toggle_short {
  text-align: right; }

div#toggle_long {
  background: #dec657;
  color: #de3c09;
  -moz-box-shadow: 5px 0px 5px 0px #222222, -5px 0px 5px 0px #222222;
  -webkit-box-shadow: 5px 0px 5px 0px #222222, -5px 0px 5px 0px #222222;
  box-shadow: 5px 0px 5px 0px #222222, -5px 0px 5px 0px #222222;
  padding: 15px;
  padding-bottom: 5px;
  margin-top: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-top: 7px;
  text-align: center;
  display: none;
  width: 150px;
  position: absolute;
  left: 850px; }

#long {
  display: none; }
