* {
  font-family: "Cuprum", "Quattrocento", "Adobe Caslon Pro", "Hoefler Text", Garamond, serif; }

h1, h2, h3, h4, h5 {
  font-family: "Nova Cut", "Expletus Sans", "Myriad Pro", Corbel, "Helvetica Neue", Helvetica, "Lucida Grande", Verdana, sans-serif; }

a, p, li {
  font-size: 12pt; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  font-weight: bold; }

#banner, #footer {
  width: 100%;
  padding: 10px;
  background: #333333;
  color: white; }

h2 {
  margin-top: 15px; }
