%div.grid_14.prefix_1
  %div.zap
    %p Ces données nous permettrons d'estimer le nombre de personnes intéressées, elles ne seront pas cédées à des tiers.
    = render 'form', :subscriber => @subscriber