%div.grid_14.prefix_1
  %div.zap
    %p Vous serez inscrits automatiquement à une liste de discussion (google groups) qui nous permettra de discuter. Ces données ne seront pas cédées à des tiers.
    = render 'form', :subscriber => @subscriber